<main class="flex h-dvh p-16 font-inter">
    <aside class="bg-slate-400 w-2/5 h-full flex flex-col justify-between ">
        <div>
            <figure class="w-52 h-52 mb-8">
                <img class="rounded-full" src="assets/Images/Avatar.png" alt="">
            </figure>
            <div class="gap-3 flex flex-col">
                <h1 class="text-5xl font-bold">Francisco J. Suarez</h1>
                <p class="text-2xl text-gray-500">Web Developer Jr | Front-end</p>
            </div>
        </div>
        <div class="flex items-center">
            <label class="bg-blue-500 p-3 rounded-lg text-white text-2xl font-semibold" for=""><a href="">Contact me</a></label>
        </div>
    </aside>


    <section class="flex flex-col flex-1 h-full bg-indigo-300 p-12 overflow-y-auto">
        <div class="aboutme">
            <h2>About me</h2>
        </div>
        <!-- Aqui va la tarjeta de about me -->
        <div class="card_aboutme">
            <p>Hi! I'm Francisco Suárez, a web developer from Colombia. I'm passionate about web development and I love
                to create new things. I'm always learning new technologies and I'm looking for new challenges.
            </p>
            <figure>
                <img src="./Assets/Images/aboutme.jpg" alt="imagen de un programador">
            </figure>
        </div>
        <!-- Aqui va la seccion de los proyectos -->
        <div class="projects">
            <div class="projects_title">
                <h2>Projects</h2>
            </div>
            <!-- Tarjeta de la to do app -->
            <div class="card_project_todoapp" id="card_project_todoapp">
                <figure>
                    <img src="./Assets/Images/todoapp.png" alt="imagen de to-do-app">
                </figure>
                <div>
                    <p>To do app</p>
                    <a href="#">https://github.com</a>
                </div>
            </div>
            <!-- Tarjeta del website -->
            <div class="card_project_website">
                <figure>
                    <img src="./Assets/Images/website.png" alt="imagen de website">
                </figure>
                <div>
                    <p>website</p>
                    <a href="#">https://github.com</a>
                </div>
            </div>
        </div>
        <!-- Aqui va la seccion de las redes sociales -->
        <div class="info_container_media">
            <div>
                <div>
                    <h2>Links</h2>
                </div>
                <div>
                    <div class="card_links">
                        <!-- Tarjeta de github -->
                        <div class="card_links_github">
                            <figure>
                                <img src="./Assets/Icons/github-icon.png" alt="icono de github">
                            </figure>
                            <div>
                                <p>GitHub</p>
                                <input id="button_github" type="button" value="Follow">
                            </div>
                        </div>
                        <!-- Tarjeta de linkedin -->
                        <div class="card_links_linkedin">
                            <figure>
                                <img src="./Assets/Icons/linkedin-icon.png" alt="icono de linkedin">
                            </figure>
                            <div>
                                <p>LinkedIn</p>
                                <input id="button_linkedin" type="button" value="Follow">
                            </div>
                        </div>
                        <!-- Tarjeta de youtube -->
                        <div class="card_links_youtube">
                            <figure>
                                <img src="./Assets/Icons/youtube-icon.png" alt="icono de youtube">
                            </figure>
                            <div>
                                <p>YouTube</p>
                                <input id="button_youtube" type="button" value="Follow">
                            </div>
                        </div>
                        <!-- Tarjeta de instagram -->
                        <div class="card_links_instagram">
                            <figure>
                                <img src="./Assets/Icons/instagram-icon.png" alt="icono de instagram">
                            </figure>
                            <div>
                                <p>Instagram</p>
                                <input id="button_instagram" type="button" value="Follow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Aqui va la seccion de los hobbies -->
            <div>
                <div>
                    <h2>Hobbies</h2>
                </div>
                <div>
                    <!-- Tarjeta de hobbie de musica -->
                    <div class="card_hobbies">
                        <div class="card_hobbies_music">
                            <figure>
                                <img src="./Assets/Images/listen_music.jpg" alt="icono de musica">
                            </figure>
                            <div>
                                <p>Music</p>
                            </div>
                        </div>
                        <!-- Tarjeta de hobbie de peliculas -->
                        <div class="card_hobbies_movies">
                            <figure>
                                <img src="./Assets/Images/watch_movies.jpg" alt="icono de peliculas">
                            </figure>
                            <div>
                                <p>Movies</p>
                            </div>
                        </div>
                        <!-- Tarjeta de hobbie de videojuegos -->
                        <div class="card_hobbies_games">
                            <figure>
                                <img src="./Assets/Images/play.jpg" alt="icono de videojuegos">
                            </figure>
                            <div>
                                <p>Videogames</p>
                            </div>
                        </div>
                        <!-- Tarjeta de hobbie de deportes -->
                        <div class="card_hobbies_sports">
                            <figure>
                                <img src="./Assets/Images/sports.jpg" alt="icono de deportes">
                            </figure>
                            <div>
                                <p>Sports</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>